<div>
  <div>
    <h2> Ajouter des mots</h2>
  </div>
</div>
<div>
    <form class="form-group" [formGroup]="formGroup" (ngSubmit)="onSubmitForm()">
          <div formArrayName="formArray" *ngFor= "let l of getList().controls; let i = index">
            <div class="form-group" [formGroupName]="i">
                <input type="text" formControlName="mot" placeholder="Entrez le Mot">
                <input type="text" formControlName="definition" placeholder="Entrez la Definition">
            </div>
          </div>
            <div class="row">
              <div class="col-md-4"></div>
                  <button type="button" (click)="addList()">Ajouter un Mot</button>
            </div>
            <div class="row">
            <div class="col-md-4">
                  <button type="submit" class="btn btn-primary" [disabled]="formGroup.invalid"> Soumettre </button>
            </div>
          </div>
    </form>
  <div class="row">
    <div class="col-md-4">
      <ul class="pager col-lg-4">
        <li>
          <a routerLink="/accueil"><span class="glyphicon glyphicon-backward"></span>Accueil</a>
        </li>
      </ul>
    </div>
</div>

